<div class="header">
  <div class="guild-badge">

    <div class="guild-logo" id="hero-info-btn" title="点击查看主角信息">
      修
    </div>
    <div class="guild-name">面板</div>
  </div>
  <div class="time-display" id="env-status"></div>


  <div class="hero-info-dropdown" id="hero-info-dropdown">
    <div class="stat-row">
      <div class="stat-label">
        <span>姓名</span><span id="name-value" class="rare-text" style="
                  font-weight: normal;
                  text-align: right;
                  flex: 1;
                  margin-left: 10px;
                  word-break: break-all;
                "></span>
      </div>
    </div>
    <div class="stat-row">
      <div class="stat-label">
        <span>性别</span><span id="gender-value" class="rare-text" style="
                  font-weight: normal;
                  text-align: right;
                  flex: 1;
                  margin-left: 10px;
                  word-break: break-all;
                "></span>
      </div>
    </div>
    <div class="stat-row">
      <div class="stat-label">
        <span>容貌</span><span id="appearance-value" class="rare-text" style="
                  font-weight: normal;
                  text-align: right;
                  flex: 1;
                  margin-left: 10px;
                  word-break: break-all;
                "></span>
      </div>
    </div>
    <div class="stat-row">
      <div class="stat-label">
        <span>身形</span><span id="body-value" class="rare-text" style="
                  font-weight: normal;
                  text-align: right;
                  flex: 1;
                  margin-left: 10px;
                  word-break: break-all;
                "></span>
      </div>
    </div>
    <div class="stat-row">
      <div class="stat-label">
        <span>衣着</span><span id="clothing-value" class="rare-text" style="
                  font-weight: normal;
                  text-align: right;
                  flex: 1;
                  margin-left: 10px;
                  word-break: break-all;
                "></span>
      </div>
    </div>
  </div>
</div>