<div id="image-modal-overlay" class="image-modal-overlay">
      <span class="image-modal-close">×</span>
      <img class="image-modal-content" id="modal-image" >
    </div>
<div id="faction-modal-overlay" class="faction-modal-overlay">
      <div class="faction-modal-content">
        <span class="faction-modal-close">×</span>
        <div class="faction-modal-header" id="faction-modal-title"></div>
        <div class="faction-modal-body" id="faction-modal-note"></div>
        <div class="faction-modal-footer">✨ 乾坤洞察 ✨</div>
      </div>
    </div>
<div id="luck-modal-overlay" class="luck-modal-overlay">
      <div class="luck-modal-content">
        <span class="luck-modal-close" id="luck-modal-close">×</span>
        <div class="luck-modal-header">✨ 气运加身 ✨</div>
        <div class="luck-modal-body" id="luck-modal-body"></div>
      </div>
    </div>